body {
    font-size: 15px;
    font-family: "Roboto", Ubuntu, sans-serif;
}

/* phone or baseline views **************************/
main {

    margin: initial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.8rem;
}



main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    background-color: #eee;
    font-size: 1.5em;
}

h1 {
    font-size: 1.6rem;
    margin: 1.2rem 0.25rem;
    padding-left: 15px;
}

h2 {
    padding-left: 15px;
}

h3 {
    padding-left: 15px;
}

main section h2 {
    color: #536878;
}

img {
    width: 100%;
}

main section:nth-child(2) {
    display: none;
    margin: 0.5rem;
}

.card p {
    padding: 0 1rem;
}

.card h4 {
    background-color: grey;
    padding: 15px;
    margin-top: 0px;
    font-size: 1em;

}

.card h5 {
    padding-left: 15px;
    font-size: 1em;
}


/* Phone Views ******************************/
@media only screen and (min-width: 15em) {
    main {
        grid-template-columns: 1fr;
    }

    main section:nth-child(2) {
        display: block;
    }

    main section:nth-child(3) {
        display: block;
    }

    main section picture {
        display: block;
    }

    main section picture img {
        width: 100%;
        height: auto;
        border: 1px solid #bbb;
    }
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(2) {
        display: block;
    }

    main section:nth-child(3) {
        grid-column: span 2;
    }

    main section picture {
        display: block;
    }

    main section picture img {
        width: 100%;
        height: auto;
        border: 1px solid #bbb;
    }
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* This is unncessary !!! The flow is set and the template is set already */
    main section:nth-child(1) {
        grid-column: 1/2;
    }

    main section:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    /*************************************/

    main section:nth-child(3) {
        grid-column: span 1;
    }
}