body {
    font-family: 'Roboto', sans-serif;
}


header {
    
    background-color:royalblue;
    color: white;
    max-width: 640px;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-evenly
}

.menu a{
    background-color: black;
    color: white;
    max-width: 640px;
    padding: 1rem;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

h2 {
    background-color: white;
    text-align: center;
    text-decoration: underline;

}

h3 {
    background-color: royalblue;
    color: white;
    padding: 1rem;
    text-align: center;
}

main, footer {
    max-width: 640px;
    margin: auto;
    padding: 1rem;
    background-color: white;
}

.card{
    border: 1px solid #bbb
}

ul {
    text-align: left;
    list-style-type: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
}

section {
    background-color: #fff; 
}

footer{
    background-color: royalblue;
    color: white;
    text-align: center;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

